<nav class="navbar g-0 p-0">
  <ul class="navbar-nav w-100 my-2" *ngIf="ConstantList">
    <li
      class="nav-item"
      *ngFor="let item of ConstantList"
      [ngClass]="item.active ? 'bg-primary' : ''"
    >
      <a
        class="nav-link cursor-pointer h-100 d-flex justify-content-center align-items-center text-white text-center"
        [href]="'#' + item.id"
        (click)="displaySection(item)"
      >
        {{ item.displayName }}</a
      >
    </li>
    <hr style="border: 1px solid whitesmoke" />
    <li
      class="nav-item"
      [ngClass]="this.showAllScetions ? 'toggle-active' : 'toggle-nonactive'"
    >
      <a
        class="nav-link h-100 cursor-pointer d-flex justify-content-center align-items-center text-white text-center"
        href="#"
        (click)="displayAllSection()"
      >
        {{ this.showAllScetions ? "Section Wise" : "Show All Sections" }}</a
      >
    </li>
  </ul>
</nav>
