.nav-item {
  border-radius: 5px;
  border: 1px solid transparent;
  background-position: center;
  transition: background 0.8s;
}

.nav-item:hover {
  border-color: #0a58be;
  background: radial-gradient(circle, transparent 1%, rgb(13, 110, 253) 1%)
    center/ 15000%;
}

.nav-item:active {
  background-color: #ddd5f0;
  background-size: 100%;
  transition: background 0s;
}

.toggle-active {
  border: 1px solid transparent;
  background-color: rgb(5, 177, 120);
}

.toggle-nonactive {
  border: 1px solid transparent;
  background-color: rgb(178 87 171);
}

.toggle-nonactive:hover {
  border-color: #0a58be;
  background: radial-gradient(circle, transparent 1%, rgb(178 87 171) 1%)
    center/ 15000% !important;
}

.toggle-nonactive:active {
  background-color: rgb(178 87 171) !important;
  background-size: 100%;
  transition: background 0s;
}

.toggle-active:hover {
  border-color: #0a58be;
  background: radial-gradient(circle, transparent 1%, rgb(5, 177, 120) 1%)
    center/ 15000% !important;
}

.toggle-active:active {
  background-color: rgb(5, 177, 120) !important;
  background-size: 100%;
  transition: background 0s;
}
