.nav-item {
  border-radius: 5px;
  border: 1px solid transparent;
}

.nav-item:hover {
  border-color: #0a58be;
}

.nav-item:focus {
  border-color: #0a58be;
}

.toggle-active {
  background-color: rgb(5, 177, 120);
  border: none !important;
}

.toggle-nonactive {
  background-color: grey;
  border: none !important;
}
